@import './sass/variables.scss';

body {
  margin: 0;
  font-family: $ibm-font;
  background-color: $off-white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2, h1 {
  font-family: $mauikea-font;
}

// debug class //
.bb {border: red 2px solid;}

// base style //
.no-border {border: none;}