.selectField {
  text-align: start;
  cursor: pointer;
}

.textMeal {
  background-color: transparent !important;
  width: 100% !important;
}

/************* bowl form file **************/
.bowlForm {
  .btnCtnr {
    column-gap: 2em;
  }
}